<div>
  <div *ngIf="irigationOperation">


    <div id="map" style="width: 400px; height: 400px;">

    </div>

    Location name: {{irigationOperation.dtoWeather.name}}
    <hr> Soil type: {{irigationOperation.soilType.name}}
    
    <h2> Weather (at the time the operation was applied) </h2>
    <br> Temperature: {{irigationOperation.dtoWeather.temp}} &deg; C
    <br> Pressure: {{irigationOperation.dtoWeather.pressure}} Bar
    <br> Humidity (atmospheric): {{irigationOperation.dtoWeather.humidity}} %
    <br> Windspeed: {{irigationOperation.dtoWeather.windSpeed}} m/s
    <br>
    <hr> Prop name name: {{irigationOperation.farmOperationProperty.propertyName}}
    <br> Prop value (quantity): {{irigationOperation.farmOperationProperty.propertyValue}}
    <br>

    <!-- irigare -->
    Opearation name: {{irigationOperation.farmOperationProperty.farmOperation.operationName}}
    <br> Date applied: {{irigationOperation.farmOperationProperty.dateApplied}}
    <br>


  </div>
  <hr>
  <div>
    <div class="form-group">
      <label for="inputSectorPropertyType">Select operation</label>
      <select (change)="onChange($event.target)" [(ngModel)]="sectorPropertyTypeSelected" style="width: 50%;" class="form-control"
        id="inputSectorPropertyType">
        <option *ngFor="let sp of sectorPropertyTypes" [ngValue]="sp">{{sp}}</option>
      </select>
    </div>
  </div>
  <div>
    Properties:
    <div *ngFor="let sprop of sectorProperties" style="margin-bottom: 30px;">

      Measurement date: {{sprop.dateMeasured | date : 'yyyy-MM-dd h:mm a'}}
      <br> id: {{sprop.id}}
      <br> Property name: {{sprop.propName}}
      <br> Property value: {{sprop.propValue}}
      <br>
    </div>
  </div>
</div>