<div>
  ID: {{ferma.id}}
  <br> Name: {{ferma.farmName}}


  <div *ngIf="ferma.address; else nomaps">

    <p *ngIf="ferma.coord">
      LATITUDINE: {{ferma.coord.lat}}
      <br> LONGITUDINE: {{ferma.coord.lng}}
      <br>

      <agm-map [draggable]= "false" [panControl]= "false"  [zoom] = "16"  [minZoom] = "6" [latitude]="ferma.coord.lat" [longitude]="ferma.coord.lng">
        <agm-marker [latitude]="ferma.coord.lat" [longitude]="ferma.coord.lng"></agm-marker>
      </agm-map>
    </p>


  </div>
  <ng-template #nomaps>
    <span style="color: red;">Cannot render map for missing address</span>
  </ng-template>

  <div *ngIf="ferma.address ; else addAddress">
    <div *ngIf="!editAddress; else editAddressDiv">
      Adresa: {{ferma.address.id}} - {{ferma.address.city}} {{ferma.address.street}} {{ferma.address.sNumber}} City:
      <button class="btn btn-info"  (click)="editAddress = !editAddress">Edit / Update</button>
    </div>
    <ng-template #editAddressDiv>



      <div class="form-group">
        <label for="inputAddressCity">City</label>
        <input [(ngModel)]="ferma.address.city" style="width: 50%;" class="form-control" id="inputAddressCity" placeholder="City">
      </div>

      <div class="form-group">
          <label for="inputAddressStreet">Street</label>
          <input [(ngModel)]="ferma.address.street" style="width: 50%;" class="form-control" id="inputAddressStreet" placeholder="Street">
        </div>

      <div class="form-group">
          <label for="inputAddressNumber">Number</label>
          <input [(ngModel)]="ferma.address.sNumber" style="width: 50%;" class="form-control" id="inputAddressNumber" placeholder="Number">
        </div>

        


      <!-- <br> Street:
      <input [(ngModel)]="ferma.address.street">
      <br> Number
      <input [(ngModel)]="ferma.address.sNumber">
      <br> -->
      <button class="btn btn-info"  (click)="editAddress = !editAddress">Cancel</button>
      <button  class="btn btn-danger" (click)="updateAddress(ferma.address)">Update address</button>
    </ng-template>

  </div>


  <ng-template #addAddress>
    <span style="color: red;"> No address defined for this farm </span>
    <br> City:
    <input [(ngModel)]="address.city">
    <br> Street:
    <input [(ngModel)]="address.street">
    <br> Number
    <input [(ngModel)]="address.sNumber">
    <br>

    <button (click)="saveAddress(address, ferma.id)">Save address</button>
  </ng-template>


  
  <h3>Add new sector</h3>

  <div class="form-group">
    <label for="inputSectorDescription">Sector description</label>
    <input style="width: 50%;" [(ngModel)]="newSector.sectorDescription" class="form-control" id="inputSectorDescription" placeholder="Description">
  </div>

  <div class="form-group">
    <label for="inputSectorSurface">Sector surface</label>
    <input style="width: 50%;" [(ngModel)]="newSector.surface" class="form-control" id="inputSectorSurface" placeholder="Surface">
  </div>

  <div class="form-group">

      <label for="inputSoilType">Soil type</label>
  <select [(ngModel)]="newSector.soilTypeBean" id="inputSoilType">
      <option *ngFor="let st of soilTypes" [ngValue]="st">{{st.name}}</option>
  </select>
  </div>


  <button (click)="saveNewSector($event);" class="btn btn-info">Save sector</button>


  <h3 style="padding-top: 10px;">Sectoare</h3>

  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Sector Description</th>
          <th>Surface</th>
          <th>Map</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>Sector Description</th>
          <th>Surface</th>
          <th>Map</th>
          <th>Details</th>
          <th>Delete</th>
        </tr>
      </tfoot>
      <tbody>
        <tr *ngFor="let sector of sectoare">
          <td>{{sector.id}}</td>
          <td>{{sector.sectorDescription}}</td>
          <td>{{sector.surface}}</td>
          <td>
            <a class="btn btn-info" [routerLink]="['/sector-map', sector.id]">Sector Map</a>
          </td>
          <td>
            <a [routerLink]="['/farms/sectors/', sector.id]">Details</a>
          </td>
          <td>
            <button class="btn btn-danger" (click)="delSector(sector)">Delete Sector</button>
          </td>

        </tr>

      </tbody>
    </table>
  </div>
  <!-- <div>

    <div *ngFor="let sector of sectoare">
      <a [routerLink]="['/farms/sectors/', sector.id]">
        {{sector.sectorDescription}}
      </a>
      <a class="btn btn-info" [routerLink]="['/sector-map', sector.id]">Sector Map</a>
      <button class="btn btn-danger" (click)="delSector(sector)">Delete Sector</button>
    </div>

  </div> -->