<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Farm Name</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Farm Name</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
    </tfoot>
    <tbody>
      <tr *ngFor="let f of farms">
        <td>{{f.id}}</td>
        <td>{{f.farmName}}</td>
        <td>
          <a [routerLink]="['/farms', f.id]" routerLinkActive="active">Details</a>
        </td>
        <td>
          <button (click)="deleteFarm(f.id)" class="btn btn-danger">Delete</button>
        </td>

      </tr>

    </tbody>
  </table>
</div>

<div>
  <h2>Add farm</h2>
  <h3>Address</h3>


  <div class="form-group">
    <label for="city">City</label>
    <input style="width: 50%;" [(ngModel)]="city" class="form-control" id="city" placeholder="City">
  </div>

  <div class="form-group">
    <label for="street">Street</label>
    <input style="width: 50%;" [(ngModel)]="street" class="form-control" id="street" placeholder="Street">
  </div>


  <div class="form-group">
    <label for="number">Number</label>
    <input style="width: 50%;" [(ngModel)]="number" class="form-control" id="number" placeholder="Number">
  </div>

  <h3>
    Farm information
  </h3>

  <div class="form-group">
      <label for="farm-name">Farm name</label>
      <input style="width: 50%;" [(ngModel)]="farmName" class="form-control" id="farm-name" placeholder="Farm name">
    </div>
    
</div>
<button (click)="savefarm(city, street, number, farmName)">Save farm</button>

<div>
  <!-- <h2>All farms here</h2> -->


  <!-- <div *ngFor="let f of farms" style="border: 1px solid black;">
      LINK FERMA DETAILS: <a [routerLink]="['/farms', f.id]" routerLinkActive="active">LINK TEST</a>
      <br>
     
    </div> -->

</div>