<h1>Login</h1>
    Username: <input type="text" [(ngModel)]="loginData.username" />
    Password: <input type="password"  [(ngModel)]="loginData.password"/>
    <button (click)="login()" type="submit">Login</button>

<h1>Register</h1>
<span>{{registrationMessage}}</span><br>
Username: <input type="text" [(ngModel)]="registerData.username" />
Password: <input type="password"  [(ngModel)]="registerData.password"/>
Email: <input type="text" [(ngModel)]="registerData.email" />
<button (click)="register()" >Register</button>