<div>

  <div *ngIf="sector">
    <div>Description: {{sector.sectorDescription}}</div>
    <div>
      <a [routerLink]="['/reports/spropertis', sector.id]">GENERATE REPORT</a>
    </div>
    
    <!-- -------------------- sector properties -------------------- -->


    
    <button *ngIf="!showSectorDetails" (click)="showSectorDetails == true ? emptyAction() : (showProps = !showProps)">Show properties (current)</button>
    <button *ngIf="!showProps" (click)="showProps == true ? emptyAction() :  (showSectorDetails = !showSectorDetails)">Show sector details</button>


    <div *ngIf="showProps && !showSectorDetails">
      <!-- <button (click)="showReports()">Show reports</button> -->
      <a class="btn btn-info" [routerLink]="['/reports/spropertis/', sector.id]">Show SProperties report</a>
      <ul style="color: green;">
        <li *ngFor="let p of sector.farmSectorProperties">
          <input type="hidden" [(ngModel)]="p.id">

          <div class="form-group">
            <label for="inputPropertyNameSector">Property name</label>
            <input style="width: 50%;" [(ngModel)]="p.propName" class="form-control" id="inputPropertyNameSector" placeholder="Property Name">
          </div>



          <div class="form-group">
            <label for="inputPropertyValueSector">Property value</label>
            <input style="width: 50%;" [(ngModel)]="p.propValue" class="form-control" id="inputPropertyValueSector" placeholder="Property Value">
          </div>

          <div class="form-group">
              <label for="inputPropertyValueSector">Date measured</label>
              <input style="width: 50%;" [(ngModel)]="p.dateMeasured "  class="form-control" id="inputPropertyValueSector" placeholder="Property Value" readonly>
            </div>

          <br>
          <button (click)="updateProperty(sector.id, p)">Update</button>
          <br>

          <button (click)="deleteSectorProperty(p)">Del sp</button>
        </li>
      </ul>
      <h3>Add sector property</h3>



      <div class="form-group">
          <label for="inputPropertyNameSectorAdd">Property name</label>
          <input style="width: 50%;" [(ngModel)]="sector.sectorPropertyName" class="form-control" id="inputPropertyNameSectorAdd" placeholder="Property Name">
        </div>



        <div class="form-group">
          <label for="inputPropertyValueSectorAdd">Property value</label>
          <input style="width: 50%;" [(ngModel)]="sector.sectorPropertyValue" class="form-control" id="inputPropertyValueSectorAdd" placeholder="Property Value">
        </div>




<!-- 
      Property Name
      <input [(ngModel)]="sector.sectorPropertyName">
      <br> TEST: {{sector.sectorPropertyName}}
      <br> Property Value
      <input [(ngModel)]="sector.sectorPropertyValue">
      <br> -->
      <button class="btn btn-info" (click)="saveSectorProperty(sector.id, sector.sectorPropertyName, sector.sectorPropertyValue)">Save property</button>

    </div>



    <div *ngIf="showSectorDetails && !showProps">
      <app-farms-sector-details [sector]="sector" (evenimentSectorDetailsComponent)="evenimentSector()"></app-farms-sector-details>
    </div>
  </div>

</div>