<div style="text-align:center">
  
  <img src="assets/img/logo.png"  alt="smart-farm-logo"
  style="float:left;width: 100%;"> 
  <h1 style="display: inline; margin-top: 10px;">
    Welcome to {{ title }}!
  </h1>
</div>
<div style="margin-top: 50px; padding-left: 10px;">
  <h4>
    Dedicated farm-management application. You can register your farms and view real-time imformation 
    and reports regarding each particular sector.
  </h4>
</div>
