<div>



  Sector: {{idSector}} .
  <br>


  <div *ngIf="reportError" class="alert alert-danger" role="alert">
      PLEASE SELECT REPORT TYPE FROM THE DROPDOWN
    </div>

    
  <select [(ngModel)]="selectedReportType">

      <option *ngFor="let pt of propertyTypes" [ngValue]="pt">{{pt}}</option>
    
    </select>
    Generating report for: {{selectedReportType}}
  <button (click)="generateReport()">Generate report</button>

  <div *ngIf="isReportDrawn">
    <google-chart style="width: 100%;" [data]="chartData"  [type]="'LineChart'" [columnNames]="chartColumnNames"></google-chart>
  </div>
  
  


</div>

