
<h2 mat-dialog-title></h2>
<mat-dialog-content class="mat-typography">
  <h3>{{dialogTitle}}</h3>
  <p>
      {{dialogText}}
  </p>
  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{okButtonText}}</button>
</mat-dialog-actions>