<!-- -------------------- sector details -------------------- -->

<h2>FORM ADD SECTOR DETAIL</h2>
<br> Application date:

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Application date" [(ngModel)]="sector.applicationDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<div>

  <mat-checkbox [(ngModel)]="shouldChooseTime" >Choose time</mat-checkbox>
  <div *ngIf="shouldChooseTime">
    Hour:
    <input [(ngModel)]="selectedHour">
    <br> Minute:
    <input [(ngModel)]="selectedMinute">
    <br>
  </div>
</div>

<!-- <input class="application-date-field" [(ngModel)]="sector.applicationDate"> -->
<br>
<div class="form-group">
  <label for="inputPropertyName">Property name</label>
  <input style="width: 50%;" [(ngModel)]="sector.propertyName" class="form-control" id="inputPropertyName" placeholder="Property Name">
</div>

<div class="form-group">
  <label for="inputPropertyValue">Property value</label>
  <input style="width: 50%;" [(ngModel)]="sector.propertyValue" class="form-control" id="inputPropertyValue" placeholder="Property Value">
</div>



<br>

<div class="form-group">
  <label for="inputSelectOperation">Select operation</label>
  <select [(ngModel)]="sector.selectedOperation" style="width: 50%;" class="form-control" id="inputSelectOperation">
    <option *ngFor="let op of operations" [ngValue]="op">{{op.operationName}}</option>
  </select>
</div>



<span *ngIf="sector.selectedOperation">Ai selectat operatiunea: {{sector.selectedOperation.operationName}}</span>
<br>

<button class="btn btn-info" (click)="addSectorDetail(sector)">Add Sector detail</button>

<h3>Sector details:</h3>


<h4>Last applied operations</h4>
<div *ngFor="let lastOp of lastOperationPropertyByCategoryArray">
  <span><strong>{{lastOp.farmOperation.operationName}} </strong></span> - {{lastOp.dateApplied | date : 'yyyy-MM-dd HH:mm'}} 
  <div *ngIf="lastOp.expirationTimer">
    <span>Operation performed {{lastOp.expirationTimer}} minutes ago</span>
    <br>
    <span>Operation interval {{lastOp.correspondingInterval.interval.interval}} minutes</span> 
    <span style="color: #FF0000;" *ngIf="lastOp.expirationTimer > lastOp.correspondingInterval.interval.interval">
      - Interval for performing this operation has expired
    </span>

  </div>
</div>


Items per page:
<input [(ngModel)]="ipp">
<br>
<pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Sector details ID</th>
        <th>Date</th>
        <th>ID (op)</th>
        <th>Name</th>
        <th>Value</th>
        <th>Category</th>
        <th>Actions Operation</th>
        <th>Delete SD</th>
        <th>Update SD</th>
      </tr>
    </thead>




    <tbody>
      <tr *ngFor="let d of sector.farmSectorDetails | paginate : { currentPage : currentPage,  itemsPerPage: ipp}">

        <td>
          {{d.id}}
        </td>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Application date" [(ngModel)]="d.applicationDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- {{d.applicationDate | date: 'yyyy/MM/dd' }}
              <input [(ngModel)]="d.applicationDate"> -->
        </td>



        <!-- display existing operation property -->
        <td *ngIf="d.farmOperationProperty">id: {{d.farmOperationProperty.id}}</td>
        <td *ngIf="d.farmOperationProperty">
          <input class="short-input" [(ngModel)]="d.farmOperationProperty.propertyName">
        </td>
        <td *ngIf="d.farmOperationProperty">


          <input class="short-input" [(ngModel)]="d.farmOperationProperty.propertyValue">
        </td>

        <td *ngIf="d.farmOperationProperty"> {{d.farmOperationProperty.farmOperation.operationName}}

          <select [(ngModel)]="d.farmOperationProperty.farmOperation">
            <option *ngFor="let op of operations" [ngValue]="op">{{op.operationName}}</option>
          </select>

          <a *ngIf="d.farmOperationProperty.farmOperation.operationName == 'irigare'" [routerLink]="['/irigation', d.farmOperationProperty.id]">View report</a>
        </td>

        <td *ngIf="d.farmOperationProperty">
          <button class="btn btn-danger" (click)="deleteOperationProperty(d.farmOperationProperty, d.id, sector)">
            Delete
          </button>
        </td>




        <!-- Add operation property -->
        <td *ngIf="!d.farmOperationProperty">ID N/A</td>
        <td *ngIf="!d.farmOperationProperty">
          <input class="short-input" [(ngModel)]="d.propertyName">
        </td>
        <td *ngIf="!d.farmOperationProperty">
          <input class="short-input" [(ngModel)]="d.propertyValue">
        </td>
        <td *ngIf="!d.farmOperationProperty">
          <select [(ngModel)]="d.selectedOperation">
            <option *ngFor="let op of operations" [ngValue]="op">{{op.operationName}}</option>
          </select>
        </td>
        <td *ngIf="!d.farmOperationProperty">
          <button (click)="addOPToSectorDetail(sector.id, d.id,  d.propertyName, d.propertyValue, d.selectedOperation)">
            Add

          </button>
        </td>



        <td>
          <button class="btn btn-danger" (click)="deleteSectorDetails(d)">Del SD</button>

        </td>
        <td>
          <button class="btn btn-warning" (click)="updateSectorDetails(sector.id, d)">Update SD</button>
        </td>

      </tr>

    </tbody>
  </table>
</div>