<!-- Search -->
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
  <mat-form-field>
    

    <div class="input-group">
      <input  matInput [(ngModel)]="searchText" (keyup)="doSearch($event.target.value)" class="form-control bg-light border-0 "
        aria-label="Search" aria-describedby="basic-addon2" [formControl]="myControl" [matAutocomplete]="auto">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
    <mat-autocomplete #auto="matAutocomplete" style="min-width: 350px;">

      <mat-option *ngFor="let farm of foundFarms" [value]="farm.farmName">
        <a [routerLink]="['/farms', farm.id]">{{farm.farmName}} <strong>in Farms</strong></a>
      </mat-option>

      <mat-option *ngFor="let farmSector of foundFarmSectors" [value]="farmSector.sectorDescription">
        <a [routerLink]="['/farms/sectors', farmSector.id]">{{farmSector.sectorDescription}} <strong> in Sectors</strong></a>
      </mat-option>
      

    </mat-autocomplete>
  </mat-form-field>
</form>