<div>
  Is Shape Drawn: <span *ngIf="isShapeDrawn; else noshape">TRUE</span>
  <ng-template #noshape>
    <span>FALSE</span>
  </ng-template>
  <button *ngIf="isShapeDrawn" (click)="removeShapes()">Remove shapes</button>
  <hr>
  <!-- ------------------- sector map ------------------- ---    -->
  <div id="map" style="width: 400px; height: 400px;">

  </div>
  <div *ngIf="farmSector && farmSector.dtoWeather">

    
     Humidity: {{farmSector.dtoWeather.humidity}} <br>
     Local name: {{farmSector.dtoWeather.name}} <br>
     Pressure: {{farmSector.dtoWeather.pressure}} <br>
     Temperature: {{farmSector.dtoWeather.temp}} <br>
     Wind Speed:: {{farmSector.dtoWeather.windSpeed}} <br>
  </div>

  
</div>